body {
    background-color: #e9e9ea;
}

.title span {
    color: #005829;
}

.title {
    color: #485e74;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "left right";
}

.left-item {
    grid-area: left;
    background-color: #13340f;
    color: white;
}

.left-item h3 {
    padding-left: 35px;
    padding-top: 20px;
}

.left-item ul li {
    list-style: none;
}


.right-item {
    grid-area: right;
    background-color: #f9feff;
    color: #495f74;
    padding-left: 20px;
}

.right-item h3 {
    padding-left: 20px;
    padding-top: 30px;
}

.right-item form input[type="text"], input[type="email"], input[type="number"], textarea {
    border: 2px solid #4b8a6a;
    padding: 10px;
    width: 275px;
}

textarea {
    width: 595px;
    height: 100px;
}

.right-item form p {
    padding-left: 20px;
}


.grid-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "left right";
    padding-right: 300px;
}

.form-right-col-items {
    grid-area: right;
    display: flex;
    flex-direction: column;
}

.form-left-col-items {
    grid-area: left;
    display: flex;
    flex-direction: column;
}


form p button {
    background-color: #10340f;
    color: white;
    display: inline;
    cursor: pointer;
    padding: 10px 290px;
    text-decoration: none;
}

form p label {
    font-size: 16px;
    font-weight: bold;
}

@media screen and (max-width: 700px) {

    .title {
        text-align: center;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "left" "right";
    }

    .left-item {
        grid-area: left;
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .left-item ul, .left-item h3 {
        align-self: center;
    }

    .right-item {
        grid-area: right;
    }

    .grid-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "left right";
        padding-right: 1px;
    }
    .form-right-col-items {
        grid-area: right;
        display: flex;
        flex-direction: column;
        padding-right: 20px;
    }

    .form-left-col-items {
        grid-area: left;
        display: flex;
        flex-direction: column;
    }
}