*{
    margin: 0;
    padding: 0;
    background-color: beige;
    font-family: "Times New Roman";
}

body{
    width: 95%;
    margin: auto;
}

.container{
    display: grid;
}

nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
}

.logo3 {
    width: 250px;
    height: 230px;
}

.nav1 li {
    display: inline;
    position: absolute;
    top: 0;
}

.nav1 li:nth-child(1) {
    right: 148px;
}

.nav1 li:nth-child(2) {
    right: 48px;
}

.nav1 li a {
    text-decoration: none;
    font-size: 20px;
}

.nav2 {
    border: 5px solid darkslategrey;
    margin-left: 400px;
    margin-bottom: 10px;
    margin-right: 20px;
    background-color: darkslategrey;
}

.nav2 li {
    list-style: inline;
    display: inline;
}

.nav2{

}

.nav2 li a {
    text-decoration: none;
    color: white;
    background-color: darkslategrey;
    font-size: 19px;
}

.nav2 li:nth-child(1) {
    margin-left: 20px;
    margin-right: 25px;
}

.nav2 li:nth-child(2) {
    margin-right: 25px;
}

.nav2 li a:hover {
    font-size: 22px;
}

.Welcoming {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 33px;
}


.container2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: #fcf6ef;
}

.gridContents {
    margin: 10px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efefef;
}

.gridContents img {
    width: 190px;
    height: 250px;
}

.gridContents h3 {
    display: block;
    background-color: #efefef;
    margin-top: 10px;
    font-size: 1.1em;
    font-style: italic;
}

.gridContents p {
    text-align: center;
    display: block;
    background-color: #efefef;

}

.gridContents button {
    display: inline-block;
    width: 80px;
    margin-top: 10px;
    background-color: white;
}

footer p {
    display: block;
    background-color: darkslategrey;
    color: white;
    padding: 19px;
}


@media screen and (max-width: 700px) {
   .container {
       display: grid;
   }
    nav {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 20px;
    }

    .logo3 {
        align-self: center;
        width: 20em;
        hight: 200em;
        margin-bottom: 10px;
    }

    .nav2 {
        align-self: center;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .nav2 li {
        align-self: center;
        border: 1px  solid #10340f;
        background-color: #10340f;
    }

    .nav2 li:nth-child(1){
        margin-left: 200px;
        margin-right: 200px;
    }

    .nav2 li:nth-child(2) {
        margin-left: 200px;
        margin-right: 200px;
    }
    .nav1 {
        align-self: center;
        display: flex;
        align-items: center;
    }
    .nav1 li {
        align-items: center;
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-bottom: 20px;
    }
    .nav1 li:nth-child(1) {
        margin-top: 340px;
        margin-right: 40px;
    }
    .nav1 li:nth-child(2) {
        margin-right: 130px;
        margin-top: 380px;
    }

    .Welcoming {
        margin-top: 70px;
    }

    .container2 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .gridContents {
        margin: 6px;
        padding: 2px;
        display: flex;
        flex-direction: column;
    }

    .gridContents img{
        text-align: center;
        display: block;
        background-color: #efefef;
    }

    .gridContents h3{
        text-align: center;
        display: block;
        background-color: #efefef;
    }

    .gridContents p{
        text-align: center;
        display: block;
        background-color: #efefef;
    }

    .gridContents button{
        text-align: center;
        display: block;
        background-color: #efefef;
    }

    .gridContents button {
        display: inline-block;
        width: 90px;
    }

    footer p {
        alignment: center;
        padding-right: 20px;
    }
}